/* Login.css */

.login-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: linear-gradient(to right, #e0f2fe, #f9fafb);
}

.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #1f2937;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: #2563eb;
}

/* .login-form button {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* .login-form button:hover {
    background-color: #1d4ed8;
} */


.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 6px 16px rgba(37, 99, 235, 0.3);
}

/* Press effect */
.login-form button:active {
    transform: scale(0.95);
    box-shadow: 0 3px 8px rgba(37, 99, 235, 0.2);
}

/* for spininning */


button:disabled {
    opacity: 0.85;
    cursor: not-allowed;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
